/* ===== NAVBAR ===== */

.navbar{
  position:fixed;
  top:20px;
  left:50%;
  transform:translateX(-50%);
  width:95%;
  padding:15px 40px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  background:rgba(15,23,42,0.6);
  backdrop-filter:blur(12px);

  border-radius:40px;
  z-index:100;
  overflow:visible;
  border:1px solid rgba(59,130,246,0.2);
}


/* ===== SOFT GLOW BORDER ===== */

.navbar::before{
  content:"";
  position:absolute;
  inset:-2px;
  background:linear-gradient(90deg,#2563eb,#3b82f6,#2563eb);
  border-radius:40px;
  opacity:0.15;
  z-index:-1;
}

.navbar::after{
  content:"";
  position:absolute;
  inset:2px;
  background:#020617;
  border-radius:40px;
  z-index:-1;
}


/* ===== LOGO ===== */

.logo{
  font-size:22px;
  font-weight:bold;
  color:#e2e8f0;
}

.logo span{
  color:#3b82f6;
}


/* ===== NAV LINKS ===== */

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
}

.nav-links li{
  cursor:pointer;
}

.nav-links a{
  text-decoration:none;
  color:#cbd5f5;
  font-size:16px;
  transition:0.3s;
  position:relative;
}


/* ===== HOVER EFFECT ===== */

.nav-links a::after{
  content:"";
  position:absolute;
  bottom:-5px;
  left:0;
  width:0%;
  height:2px;
  background:#3b82f6;
  transition:0.3s;
}

.nav-links a:hover{
  color:#60a5fa;
}

.nav-links a:hover::after{
  width:100%;
}


/* ===== MOBILE MENU BUTTON ===== */

.menu-btn{
  display:none;
  font-size:26px;
  color:#e2e8f0;
  cursor:pointer;
}


/* ================= TABLET ================= */

@media(max-width:900px){

.navbar{
  width:90%;
  padding:12px 25px;
}

.nav-links{
  gap:20px;
}

.logo{
  font-size:20px;
}

}


/* ================= MOBILE ================= */

@media(max-width:600px){

.navbar{
  width:95%;
  padding:12px 20px;
}


/* show hamburger */

.menu-btn{
  display:block;
}


/* hide links */

.nav-links{
  position:absolute;
  top:75px;
  left:0;
  width:100%;

  background:#020617;

  flex-direction:column;
  align-items:center;
  gap:18px;

  padding:25px 0;

  border-radius:20px;

  display:none;

  box-shadow:0 10px 30px rgba(0,0,0,0.5);
  border:1px solid rgba(59,130,246,0.2);
}


/* show when active */

.nav-links.active{
  display:flex;
}

.nav-links li{
  width:100%;
  text-align:center;
}

.nav-links a{
  display:block;
  width:100%;
  padding:10px 0;
  font-size:18px;
}

}